body {
  background-color: black;
}

simple-snack-bar {
  background-color: #444;
  border: 1px solid #888;
  color: #eee;
  font-family: "Google Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 28px;
  min-height: 100px;
  min-width: 500px;
  padding: 10px 20px;
}

.info simple-snack-bar {
  color: #eee;
}

.error simple-snack-bar {
  color: red;
}
