<style>

:host {
  background-color: black;
  box-sizing: border-box;
  color: #eee;
  font-family: "Google Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  height: 304px;
  margin-left: 12px;
  width: 1080px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.displayed-voice-name {
  border: 1px solid aqua;
  border-radius: 4px;
  align-items: center;
  display: inline-block;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 420px;
}

.option-button {
  align-items: center;
  background: #333;
  border: 1px solid #888;
  border-radius: 4px;
  color: #eee;
  display: inline-block;
  flex-direction: row;
  font-size: 22px;
  font-weight: 700;
  height: 60px;
  line-height: 32px;
  margin: 0 12px;
  min-width: 80px;
  padding: 8px;
  text-align: center;
  vertical-align: top;
  width: fit-content;
}

.option-button:disabled {
  color: #888;
}

.selection-area {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.selection-container {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
}

.test-button {
  font-size: 18px;
  font-weight: 400;
  width: 120px;
}

.title {
  font-size: 22px;
  margin-bottom: 8px;
}

</style>

<div class="title">
  Select Generic TTS voice
</div>

<div class="selection-container">
  <div *ngIf="numAvailableTtsVoices > 0">
    {{selectedIndex + 1}} of {{numAvailableTtsVoices}}
  </div>

  <div class="selection-area">
    <button
        #clickableButton
        class="option-button prev-button"
        [disabled]="isPrevButtonDisabled"
        (click)="onPrevButtonClicked($event)">
        &#60;
    </button>

    <div class="displayed-voice-name">{{selectedTtsVoiceName}}</div>

    <button
        #clickableButton
        class="option-button next-button"
        [disabled]="isNextButtonDisabled"
        (click)="onNextButtonClicked($event)">
        &#62;
    </button>
  </div>

  <button
      #clickableButton
      *ngIf="numAvailableTtsVoices > 0"
      class="option-button test-button"
      (click)="onTestButtonClicked($event)">
    Test
  </button>

</div>
