<style>
.context-container {
  display: inline-block;
}

.context-retrieval-error {
  display: inline-block;
  font-size: 28px;
  margin-left: 6px;
  color: red;
}

.context-tag {
  display: inline-block;
  color: #777;
  font-size: 28px;
  margin-left: 6px;
}

.conversation-turn {
  display: inline-block;
}

.no-context-found {
  display: inline-block;
  font-size: 28px;
  margin-left: 6px;
  color: #777;
}

</style>

<div class="context-tag">
  Context:
</div>

<!-- TODO(cais): Add Ctrl+C instruction. -->
<!-- TODO(cais): Add Alt+N instruction. -->
<!-- TODO(cais): Add ellipses for long utterances. -->

<div *ngIf="contextRetrievalError !== null; else noError" class="context-container">
  <div class="context-retrieval-error">
    Fail to get context: {{contextRetrievalError}}
  </div>
</div>

<ng-template #noError>
  <div *ngIf="contextSignals.length > 0" class="context-container">
    <div
        *ngFor="let contextSignal of contextSignals; let i = index"
        class="conversation-turn">
      <app-conversation-turn-component
        [turn]="contextSignal.conversationTurn!"
        [isFocus]="isContextInFocus(contextSignal.contextId!)"
        (click)="onTurnClicked($event, contextSignal.contextId!)"
      ></app-conversation-turn-component>
    </div>
  </div>

  <div *ngIf="contextSignals.length === 0" class="no-context-found">
    <div>
      No context found
    </div>
  </div>
</ng-template>
