<style>

:host {
  font-family: "Google Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  white-space: nowrap;
  width: 1000px;
}

.badge-image {
  height: 40px;
  width: 40px;
  padding: 4px;
  vertical-align: middle;
}

.context-add-button {
  background: #333;
  border: 1px solid #888;
  border-radius: 4px;
  color: #eee;
  font-size: 20px;
  height: 44px;
  margin-left: 8px;
  margin-bottom: 4px;
  min-width: 50px;
  padding: 4px;
  vertical-align: middle;
  width: fit-content;
}

.context-container {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: row;
}

.context-header-section {
  display: inline-block;
}

.context-retrieval-error {
  color: red;
  display: inline-block;
  font-size: 18px;
  margin-left: 8px;
  max-width: 80px;
  vertical-align: middle;
  white-space: pre-wrap;
}

.context-tag {
  display: inline-block;
  color: #777;
  font-size: 21px;
  margin-left: 8px;
}

.conversation-turn {
  display: inline-block;
}

.no-context-found {
  display: inline-block;
  font-size: 28px;
  margin-left: 8px;
  color: #777;
}

</style>

<div class="context-header-section">
  <img
      class="badge-image"
      src="/assets/images/conversation.png"
      alt="Conversation context" />

  <button
      *ngIf="isDev"
      class="context-add-button"
      (click)="onContextAddButtonClicked($event)">
    +
  </button>

</div>

<div
    *ngIf="contextRetrievalError !== null"
    class="context-retrieval-error">{{contextRetrievalError}}</div>

<div *ngIf="contextSignals.length > 0" class="context-container">
  <div
      *ngFor="let contextSignal of contextSignals; let i = index"
      class="conversation-turn">
    <app-conversation-turn-component
      #contextItem
      *ngIf="contextSignal.conversationTurn"
      [turn]="contextSignal.conversationTurn!"
      [isFocus]="isContextInFocus(contextSignal.contextId!)"
      [isSelf]="contextSignal.conversationTurn!.speakerId === userId"
      [isCompact]="isStudyOn"
      [disableGazeClick]="isStudyOn"
      (click)="onTurnClicked($event, contextSignal.contextId!)"
    ></app-conversation-turn-component>
    <!-- TODO(cais): Support other context types (contextType values). -->
  </div>
</div>

<div *ngIf="contextSignals.length === 0" class="no-context-found">
  <div>
    No context found
  </div>
</div>
