<style>

:host {
  box-sizing: border-box;
  color: #EEE;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.context-tag {
  display: inline-block;
  color: #777;
  font-size: 28px;
  margin-left: 6px;
}

.conversation-turn {
  display: inline-block;
}

</style>

<div class="context-tag">
  Context:
</div>

<div
    *ngFor="let conversationTurn of conversationTurns"
    class="conversation-turn">
  <app-conversation-turn-component
    [turn]="conversationTurn"
  ></app-conversation-turn-component>
</div>
