<style>

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-button {
  background-color: #666;
  border: 2px solid #999;
  border-radius: 5px;
  color: #eee;
  font-size: 18px;
  height: 40px;
  width: 125px;
}

.minimized {
  color: gold;
  background-color: #444;
}

</style>

<button
    #clickableButton
    class="main-button"
    [ngClass]="{'minimized': appState === 'MINIBAR'}"
    (click)="onButtonClicked($event)">
    {{buttonText}}
</button>
