<style>

:host {
  display: flex;
  flex-direction: column;
}

mat-progress-spinner {
  display: inline-block;
  stroke: #ddd;
  zoom: 0.3;
}

.button-image {
  height: 36px;
  width: 36px;
}

.button-image.add-comment-button-image {
  height: 24px;
  width: 24px;
}

.speak-button {
  border-radius: 8px;
  overflow: hidden;
  background-color: transparent;
}

.user-feedback-tag {
  font-size: 12px;
  margin: 1px;
  max-height: 14px;
  line-height: 14px;
}

</style>

<div
    class="favorite-button"
    (click)="onFavoriteButtonClicked($event)">
  <img
      *ngIf="state === 'READY' && !isDeletion && !sendAsUserFeedback"
      class="button-image"
      src="/assets/images/favorite.png"
      alt="add to favorite" />
  <img
      *ngIf="state === 'READY' && !isDeletion && sendAsUserFeedback"
      class="button-image add-comment-button-image"
      src="/assets/images/add-comment.png"
      alt="add to favorite" />
  <div
      *ngIf="state === 'READY' && !isDeletion && sendAsUserFeedback"
      class="user-feedback-tag">
    Feedback
  </div>
  <img
      *ngIf="(state === 'READY' || state === 'RESTORED') && isDeletion"
      class="button-image"
      src="/assets/images/delete.png"
      alt="delete from favorite" />

  <mat-progress-spinner
      *ngIf="state === 'REQUESTING'"
      [mode]="'indeterminate'"
      [value]="50">
  </mat-progress-spinner>
  <img
      *ngIf="state === 'SUCCESS' && !isDeletion"
      class="button-image"
      src="/assets/images/success-circle.png"
      alt="success" />
  <img
      *ngIf="state === 'SUCCESS' && isDeletion"
      class="button-image"
      src="/assets/images/repeat.png"
      alt="restore" />
  <img
      *ngIf="state === 'ERROR'"
      class="button-image"
      src="/assets/images/error-circle.png"
      alt="error" />
</div>
