<style>
mat-progress-spinner {
  display: inline-block;
  stroke: #ddd;
  zoom: 0.3;
}

.button-image {
  max-width: 50%;
  max-height: 50%;
}

.speak-button {
  border-radius: 8px;
  overflow: hidden;
  background-color: transparent;
}

</style>

<div
    class="favorite-button"
    (click)="onFavoriteButtonClicked($event)">
  <img
      *ngIf="state === 'READY' && !isDeletion"
      class="button-image"
      src="/assets/images/favorite.png"
      alt="speak phrase as is" />
  <img
      *ngIf="state === 'READY' && isDeletion"
      class="button-image"
      src="/assets/images/delete.png"
      alt="speak phrase as is" />

  <mat-progress-spinner
      *ngIf="state === 'REQUESTING'"
      [mode]="'indeterminate'"
      [value]="50">
  </mat-progress-spinner>
  <img
      *ngIf="state === 'SUCCESS'"
      class="button-image"
      src="/assets/images/success-circle.png"
      alt="speak phrase as is" />
  <img
      *ngIf="state === 'ERROR'"
      class="button-image"
      src="/assets/images/error-circle.png"
      alt="speak phrase as is" />
</div>
