<style>

  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    background-color: black;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

</style>

<div class="content" role="main">
  <!-- TODO(cais): Hide app-auth-component on newAccessToken. -->
  <app-auth-component (newAccessToken)="onNewAccessToken($event)"></app-auth-component>

  <app-external-events-component
      #externalEvents
      [textEntryBeginSubject]="textEntryBeginSubject"
      [textEntryEndSubject]="textEntryEndSubject">
  </app-external-events-component>

  <app-metrics-component
      [textEntryBeginSubject]="textEntryBeginSubject"
      [textEntryEndSubject]="textEntryEndSubject"
  ></app-metrics-component>
</div>

<router-outlet></router-outlet>
