<style>

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  background-color: black;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

app-context-component {
  display: block;
}

.auth-area {
  border: 2px solid yellow;
  border-radius: 7px;
  padding: 10px;
}

.main-area {
  border: 2px solid green;
  border-radius: 7px;
}

</style>

<div class="content" role="main">
  <div *ngIf="!hasAccessToken()" class="auth-area">
    <app-auth-component (newAccessToken)="onNewAccessToken($event)"></app-auth-component>
  </div>

  <div *ngIf="hasAccessToken()">

    <app-context-component
      [endpoint]="endpoint"
      [accessToken]="accessToken"
      (contextTurnSelected)="onContextTurnSelected($event)"
    ></app-context-component>

    <app-abbreviation-editing-component
      (inputAbbreviationChanged)="onAbbreviationInputChanged($event)"
      (spellingStateChanged)="onSpellingStateChanged($event)"
    ></app-abbreviation-editing-component>

    <app-abbreviation-component
      [endpoint]="endpoint"
      [accessToken]="accessToken"
      [speechContent]="speechContent"
      [abbreviationExpansionTriggers]="abbreviationExpansionTriggers"
      [isKeyboardEventBlocked]="isSpelling"
    ></app-abbreviation-component>

  </div>
</div>

<router-outlet></router-outlet>
