<style>

:host {
  box-sizing: border-box;
  color: #EEE;
  font-family: "Google Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 32px;
  margin: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: 2px solid #888;
  border-radius: 4px;
  font-size: 32px;
}

mat-progress-spinner {
  display: inline-block;
  stroke: #ddd;
  zoom: 0.3;
}

.button-content {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  vertical-align: middle;
}

.button-image {
  height: 36px;
  margin-right: 8px;
  width: 36px;
}

.clear-button-row {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.content {
  margin: 4px;
}

.info-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 12px;
  margin-top: 12px;
}

.in-progress-info {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 8px;
}

.message {
  display: inline-block;
  font-size: 18px;
  margin-left: 6px;
}

.message-info {
  color: #ddd;
}

.message-error {
  color: red;
}

.partner-and-user-container {
  color: #ccc;
  display: flex;
  font-size: 20px;
  flex-direction: row;
  justify-content: space-around;
  line-height: 48px;
  margin-bottom: 16px;
  vertical-align: middle;
}

.partner-given-name {
  margin-left: 8px;
}

.partner-profile-section {
  display: flex;
  flex: 1;
  margin: 0 8px;
  line-height: 48px;
  vertical-align: middle;
}

.profile-image {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.text-input-button {
  background-color: #ddd;
  color: black;
  display: inline-block;
  flex: 1;
  font-size: 26px;
  height: 64px;
  margin-left: 4px;
  margin-top: 8px;
  margin-right: 4px;
  min-width: 100px;
}

.text-input-button:disabled {
  background-color: #666;
}

.signing-in-message {
  font-size: 18px;
  margin-left: 8px;
}

.sign-in-out-button {
  background-color: black;
  color: #EEE;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 8px;
  max-width: 400px;
  min-height: 64px;
  padding-left: 20px;
  width: 100%;
}

.sign-in-out-button:hover {
  background-color: #222;
}

.sign-in-out-button-image {
  height: 36px;
  vertical-align: middle;
  width: 36px;
}

.sign-in-out-button-text {
  vertical-align: middle;
}

.text-clear-button {
  flex: 1;
  font-size: 18px;
  height: 50px;
  margin: 0 0 8px;
  max-width: 100px;;
}

.turn-input {
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 24px;
  height: 90px;
  line-height: 110%;
  padding: 4px;
  width: 100%;
}

.turn-input-buttons-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
}

.turn-input-container {
  display: block;
  line-height: 34px;
  margin-top: 10px;
  position: relative;
}

.user-ids {
  border-radius: 4px;
  font-size: 22px;
  height: 48px;
  margin-left: 8px;
  min-width: 80px;
}

.user-ids-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  max-height: 48px;
  vertical-align: middle;
}

.user-ids-tag {
  height: 48px;
}

</style>

<div class="content">

  <button
      class="sign-in-out-button"
      (click)="partnerToggleAuthenticationState()">
    <div class="button-content">
      <img
          class="sign-in-out-button-image"
          src={{signInOutButtonImgSrc}}
          referrerpolicy="no-referrer" />
      <span class="sign-in-out-button-text">
        {{signInOutButtonCaption}}
      </span>
    </div>
  </button>

  <div
      *ngIf="state === 'SIGNING_IN'"
      class="in-progress-info">
    <mat-progress-spinner
      [mode]="'indeterminate'"
      [value]="50">
    </mat-progress-spinner>
    <span class="signing-in-message">Signing in...</span>
  </div>

  <div *ngIf="state !== 'NOT_SIGNED_IN' && state !== 'SIGNING_IN'">

    <div class="partner-and-user-container">
      <div class="partner-profile-section">
          <img
              *ngIf="partnerProfileImageUrl !== null"
              class="profile-image"
              src="{{partnerProfileImageUrl}}" />
          <span class="partner-given-name">{{partnerGivenName}}</span>
      </div>

      <div *ngIf="state === 'GETTING_AAC_USER_LIST'">
        <mat-progress-spinner
          [mode]="'indeterminate'"
          [value]="50">
        </mat-progress-spinner>
        Retrieving users...
      </div>

      <div
          *ngIf="state !== 'GETTING_AAC_USER_LIST'"
          class="user-ids-container">
        <span class="user-ids-tag">to user:</span>
        <select class="user-ids" #userIdsSelect>
          <option
              *ngFor="let userId of userIds"
              [value]="userId">
            {{userId}}
          </option>
        </select>
      </div>
    </div>

    <div class="turn-input-container">
      <div class="clear-button-row">
        <button
            class="text-input-button text-clear-button"
            (click)="onClearButtonClicked($event)">
          Clear
        </button>
      </div>
      <textarea
          #turnTextInput
          row="3"
          class="turn-input"
          (change)="onTurnTextChanged($event)"></textarea>

      <div class="turn-input-buttons-container">
        <button
            class="text-input-button"
            [disabled]="state === 'SENDING_MESSAGE'"
            (click)="onSpeakButtonClicked($event)">
          <div class="button-content" *ngIf="state !== 'ASR_ONGOING'">
            <img class="button-image" src="/assets/images/microphone.png">Speak
          </div>
          <div class="button-content" *ngIf="state == 'ASR_ONGOING'">
            🟥 Stop
          </div>
        </button>
        <button
            class="text-input-button text-send-button"
            [disabled]="isAsrOrMessageSendOngoing"
            (click)="onSendButtonClicked($event)">
          <div class="button-content">
            <img class="button-image" src="/assets/images/send.png">Send
          </div>
        </button>
      </div>
    </div>
  </div>

  <div
     *ngIf="state !== 'NOT_SIGNED_IN'"
     class="info-container">
    <mat-progress-spinner
        *ngIf="isAsrOrMessageSendOngoing"
        [mode]="'indeterminate'"
        [value]="50">
    </mat-progress-spinner>
    <div
        *ngIf="infoMessage !== null"
        class="message message-info">
      {{infoMessage}}
    </div>
  </div>

  <div
      *ngIf="errorMessage !== null"
      class="message message-error">
    {{errorMessage}}
  </div>

</div>
