<style>

:host {
    box-sizing: border-box;
    color: #EEE;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 32px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.abbreviation-option {
  background: #333;
  border-radius: 5px;
  color: #eee;
  display: flex;
  font-size: 22px;
  height: 63px;
  line-height: 32px;
  margin: 3px 5px;
  min-width: 300px;
  padding-left: 5px;
  white-space: nowrap;
}

.abbreviation-options-container {
  display: inline-block;
}

.abbreviation-options-grid {
  align-items: start;
  display: grid;
  gap: 5px;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  grid-template-areas:
    "a a a a c c c c e e e e"
    "a a a a c c c c e e e e"
    "b b b b d d d d f f f f"
    "b b b b d d d d f f f f";
}

.item1 {
  grid-area: a;
}

.item2 {
  grid-area: b;
}

.item3 {
  grid-area: c;
}

.item4 {
  grid-area: d;
}

.item5 {
  grid-area: e;
}

.item6 {
  grid-area: f;
}

.candidate-for-edit {
  border: 2px solid #eee;
}

.edit-token {
  background: #333;
  border: 2px solid #888;
  border-radius: 5px;
  color: #eee;
  display: inline-block;
  font-size: 28px;
  line-height: 32px;
  margin: 10px;
  min-width: 120px;
  padding: 15px;
  vertical-align: middle;;
  width: fit-content;
}

.expansions {
  display: inline-block;
  white-space: nowrap;
}

.info {
  margin-left: 10px;
}

.is-selected {
  border: 3px solid cyan;
}

.is-token-selected {
  background-color: lightblue;
  color: #111;
}

.option-button {
  background: darkgreen;
  border: 2px solid #888;
  border-radius: 5px;
  color: #eee;
  display: inline-block;
  font-size: 28px;
  height: 72px;
  line-height: 32px;
  margin: 10px;
  min-width: 72px;
  padding: 15px;
  vertical-align: top;
  width: fit-content;
}

.replacement-token {
  background-color: lightblue;
  border: 2px solid #888;
  border-radius: 5px;
  color: #111;
  display: inline-block;
  font-size: 28px;
  line-height: 32px;
  margin: 5px;
  min-width: 120px;
  padding: 12px;
  vertical-align: middle;;
  width: fit-content;
}

.request-ongoing {
  color: yellow;
}

.response-error {
  color: orange;
}

.token-input {
  border: 2px solid #888;
  border-radius: 3px;
  font-size: 32px;
  margin: 6px 8px;
  padding: 2px 4px;
  width: 150px;
}

</style>

<div *ngIf="requestOngoing" class="info request-ongoing">
  Getting abbrevaition expansions...
</div>
<div *ngIf="responseError !== null" class="info response-error">
  Error: {{responseError}}
</div>
<div
    *ngIf="state === 'CHOOSING_EXPANSION' || state === 'CHOOSING_EDIT_TARGET'"
    class="expansions">
  <button
      #clickableButton
      *ngIf="abbreviationOptions.length > 0"
      class="option-button"
      (click)="onEditButtonClicked($event)">
    ✏️
  </button>
  <div class="abbreviation-options-container">
    <div class="abbreviation-options-grid">
      <app-phrase-component
          *ngFor="let abbreviationOption of abbreviationOptions; let i = index"
          #abbreviationOption
          class="item{{i + 1}}"
          [ngClass]="{'candidate-for-edit': state === 'CHOOSING_EDIT_TARGET'}"
          [phraseText]="abbreviationOption"
          [phraseIndex]="i"
          (speakButtonClicked)="onSpeakOptionButtonClicked($event)"
          (injectButtonClicked)="onExpansionOptionButtonClicked($event)">
      </app-phrase-component>
    </div>
  </div>
</div>

<div
    *ngIf="state === 'CHOOSING_TOKEN' || state === 'CHOOSING_TOKEN_REPLACEMENT'">
  <button
      *ngFor="let editToken of editTokens; let i = index"
      #clickableButton
      class="edit-token"
      [ngClass]="{'is-token-selected': i === selectedTokenIndex}"
      (click)="onEditTokenButtonClicked($event, i)">
    <div class="edit-token-text">{{editToken}}</div>
  </button>
</div>

<div
    *ngIf="state === 'CHOOSING_TOKEN_REPLACEMENT'">
  <button
      *ngFor="let replacementToken of replacementTokens; let i = index"
      #clickableButton
      class="replacement-token"
      (click)="onReplacementTokenButtonClicked($event, i)">
    <div class="replacement-token-text">{{replacementToken}}</div>
  </button>

  <input
      #tokenInput
      class="token-input"
      type="text"
      value="{{manualTokenString}}" />

</div>

<app-spell-component
    *ngIf="abbreviation !== null && (state === 'SPELLING' || state === 'CHOOSING_EXPANSION')"
    class="spell-component"
    [originalAbbreviationSpec]="abbreviation!"
    (newAbbreviationSpec)="onNewAbbreviationSpec($event)"
></app-spell-component>
