<style>

    :host {
      box-sizing: border-box;
      color: #EEE;
      font-family: "Product Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 32px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    button {
      background-color: black;
      border: 2px solid #888;
      border-radius: 4px;
      color: #EEE;
      cursor: pointer;
      font-size: 32px;
      margin-bottom: 10px;
      min-height: 100px;
      min-width: 400px;
    }

    button:hover {
      background-color: #222;
    }

    .auth-instruction-row {
      margin-top: 12px;
    }

    .label {
      display: inline-block;
      min-width: 240px;
    }

    .link {
      display: inline-block;
      margin-left: 12px;
    }

    .value {
      background: black;
      border: 1px solid #888;
      color: #EEE;
      font-size: 32px;
      display: inline-block;
      margin-left: 12px;
      min-height: 50px;
    }

  </style>

  <div class="content" role="main">
    <div *ngIf="accessToken === ''">
      <button
          #clickableButton
          (click)="authenticate()"
          id="authenticate">
        Authenticate (A)
      </button>
    </div>

    <div *ngIf="deviceCodeData !== null && accessToken === ''" class="auth-instruction">
      <div class="auth-instruction-row">
        <div class="label">Go to URL</div>
        <div class="link">
          <a href="{{deviceCodeData.verification_url}}" target="_blank" id="verification-url">
            {{deviceCodeData.verification_url}}
          </a>
        </div>
      </div>

      <div class="auth-instruction-row">
        <div class="label">and enter code</div>
        <input class="value" value="{{deviceCodeData.user_code}}"/>
      </div>
    </div>

    <div *ngIf="accessToken !== ''" class="auth-success">
      Authenticated!
    </div>

  </div>

  <router-outlet></router-outlet>
