<style>

:host {
  box-sizing: border-box;
  color: #EEE;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.action-button {
  background: #27AE60;
  border: none;
  border-radius: 8px;
  color: #eee;
  flex: 1;
  font-size: 20px;
  height: 48px;
  margin: 0 5px;
  order: 2;
  padding: 0;
  vertical-align: middle;
  width: 85px;
}

.action-button.abort-button {
  background: #525453;
  width: 60px;
}

.action-button.expand-button {
  background-color: #525453;
  width: 100px;
}

.base-text-area {
  display: inline-block;
}

.button-image {
  max-width: 50%;
  max-height: 50%;
}

.button-shortcut-key {
  font-size: 18px;
  color: #888;
}

.button-state-error {
  background: red;
}

.button-state-pending {
  background: orange;
}

.button-state-success {
  background: green;
}

.chips-container {
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0 0 5px;
  vertical-align: middle;
  width: 1050px;
}

.favorite-button {
  background: #473261;
}

.input-box {
  background: #272626;
  border: none;
  border-radius: 8px;
  color: white;
  display: flex;
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  margin: 0 8px;
  min-width: 100%;
  padding: 0 4px;
  width: 100%;
}

.main-area {
  flex: 1;
}

.right-buttons-container {
  display: inline-block;
  width: fit-content;
}

.simulated-cursor {
  font-weight: 900;
  font-size: 36px;
  margin-left: 0.1em;
}

</style>

<div class="container">

  <div class="input-box">
    <div class="main-area">
      <div
          class="base-text-area"
          *ngIf="state !== 'SHOWING_WORD_CHIPS' && state !== 'FOCUSED_ON_CHIP'">
        <span class="input-text">{{inputString}}</span>
        <span class="simulated-cursor">|</span>
      </div>
      <div
          class="chips-container"
          *ngIf="state === 'SHOWING_WORD_CHIPS' || state === 'FOCUSED_ON_CHIP'">
        <app-input-bar-chip-component
            *ngFor="let chip of chips; let i = index"
            [text]="getChipText(i)"
            [typed]="i === focusChipIndex && isChipTyped(i)"
            [focused]="i === focusChipIndex"
            (click)="onChipClicked(i)">
        </app-input-bar-chip-component>
      </div>

      <button
          #clickableButton
          *ngIf="(state === 'ENTERING_BASE_TEXT' ||
                  state === 'CHOOSING_PHRASES') && inputStringNonEmpty"
          class="action-button expand-button"
          (click)="onExpandButtonClicked($event)">
        Expand
      </button>

      <button
          #clickableButton
          *ngIf="inputStringNonEmpty"
          class="action-button abort-button"
          (click)="onClearButtonClicked($event)">
        X
      </button>
    </div>

    <div
        class="right-buttons-container"
        *ngIf="inputStringNonEmpty">
      <button
          #clickableButton
          class="action-button speak-button"
          (click)="onSpeakAsIsButtonClicked($event)">
        <img class="button-image" src="/assets/images/speak.png" alt="speak phrase as is" />
      </button>

      <button
          #clickableButton
          class="action-button favorite-button"
          [ngClass]="{
              'button-state-pending': state === 'ADD_CONTEXTUAL_PHRASE_PENDING',
              'button-state-success': state === 'ADD_CONTEXTUAL_PHRASE_SUCCESS',
              'button-state-error': state === 'ADD_CONTEXTUAL_PHRASE_ERROR'
            }"
          (click)="onFavoriteButtonClicked($event)">
        <img class="button-image" src="{{favoriteButtonImageUrl}}" alt="add phrase to favorite" />
      </button>
    </div>

  </div>

</div>
