<style>

:host {
  box-sizing: border-box;
  color: #EEE;
  font-family: "Google Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.action-button {
  background: #27AE60;
  border: none;
  border-radius: 8px;
  color: #eee;
  flex: 1;
  font-size: 20px;
  height: 56px;
  margin: 0 5px;
  order: 2;
  padding: 0;
  vertical-align: middle;
  width: 85px;
}

.action-button.abort-button {
  background: #525453;
  min-width: 60px;
}

.action-button.expand-button {
  background-color: #057bad;
  width: 100px;
}

.action-button.inject-button {
  background-color: rgb(101, 183, 211);
}

.base-text-area {
  align-items: center;
  background: #272626;
  border: none;
  color: white;
  display: inline-flex;
  flex-direction: row;
  font-family: monospace;
  font-size: 30px;
  min-width: 60px;
  outline: none;
  overflow: hidden;
  padding-top: 14px;
  resize: none;
  width: fit-content;
}

.buttons-container {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
}

.button-image {
  max-height: 36px;
  max-width: 36px;
}

.button-shortcut-key {
  font-size: 18px;
  color: #888;
}

.chips-container {
  display: inline-flex;
}

.container {
  display: flex;
  flex-direction: column;
  height: 164px;
  overflow: visible;
  padding: 0 0 8px;
  position: relative;
  vertical-align: middle;
  width: 1080px;
}

.dialog-error {
  color: rgb(255, 51, 0);
}

.favorite-button {
  background: #473261;
}

.hidden {
  display: none;
}

.hint-text {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 28px;
  margin-top: 2px;
  overflow: visible;
  padding-left: 20px;
  width: 1000px;
}

.hint-text.hint-dialog-complete {
  color: lightgreen;
  font-size: 28px;
}

.instruction {
  font-size: 20px;
  margin-right: 8px;
}

.input-box {
  background: #272626;
  border: none;
  border-radius: 8px;
  color: white;
  display: flex;
  font-size: 30px;
  height: 66px;
  line-height: 66px;
  margin: 0 8px;
  min-width: 100%;
  padding: 0 4px 0 8px;
  width: 100%;
}

.input-text {
  color: white;
  display: inline-block;
  line-height: 30px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.length-limit-exceeded {
  background: orange;
  border-radius: 4px;;
  color: black;
  display: inline-block;
  font-size: 14px;
  height: 48px;
  line-height: 16px;
  max-width: 80px;
  text-align: center;
  white-space: pre-line;
}

.main-area {
  caret-color: white;
  display: flex;
  flex-direction: row;
  flex: 1;
  /* Makes sure that trailing spaces are shown, yet line wrapping */
  /* can occur when text is long. */
  white-space: pre-wrap;
}

.notification {
  align-items: center;
  color: yellow;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  margin-top: 2px;
  overflow: visible;
  padding-left: 20px;
  width: 1000px;
}

.right-buttons-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.send-user-feedback {
  font-size: 16px;
}

.to-enter-text {
  border-radius: 4px;
  background: #444;
  color: white;
  padding: 0 4px;
}

[contenteditable] {
  outline: 0 solid transparent;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

</style>

<div class="container" [ngClass]="{'hidden': isHidden}">

  <div class="input-box">
    <div
        class="main-area"
        (click)="onMainAreaClicked($event)">
      <textarea
          #inputTextArea
          *ngIf="state !== 'CHOOSING_LETTER_CHIP' &&
                 state !== 'FOCUSED_ON_LETTER_CHIP' &&
                 state !== 'CHOOSING_WORD_CHIP' &&
                 state !== 'FOCUSED_ON_WORD_CHIP'"
          inputmode="text"
          spellcheck="false"
          class="base-text-area"
          (keyup)="onInputTextAreaKeyUp($event)"
      ></textarea>
      <div
          class="chips-container"
          *ngIf="state === 'CHOOSING_LETTER_CHIP' ||
                 state === 'FOCUSED_ON_LETTER_CHIP' ||
                 state === 'CHOOSING_WORD_CHIP' ||
                 state === 'FOCUSED_ON_WORD_CHIP'">
        <app-input-bar-chip-component
            *ngFor="let chip of chips; let i = index"
            [text]="getChipText(i)"
            [typed]="i === focusChipIndex && isChipTyped(i)"
            [supportsCut]="!isStudyOn && (state === 'FOCUSED_ON_WORD_CHIP' && i !== chips.length - 1)"
            [focused]="i === focusChipIndex"
            (click)="onChipClicked(i)"
            (cutClicked)="onChipCutClicked($event, i)"
            (textChanged)="onChipTextChanged($event, i)">
        </app-input-bar-chip-component>
      </div>

      <!-- When the text prediction bar is shown, it presents the Expand, Spell
           and Abort buttons by itself. -->
      <div class="buttons-container">
        <button
            #clickableButton
            *ngIf="showExpandButton && !showTextPredictionBar"
            class="action-button expand-button"
            (click)="onExpandButtonClicked($event)">
          Expand
        </button>

        <button
            #clickableButton
            *ngIf="showSpellButton && !showTextPredictionBar"
            class="action-button spell-button"
            (click)="onSpellButtonClicked($event)">
          Spell
        </button>

        <button
            #clickableButton
            *ngIf="hasInputStringOrChips && !showTextPredictionBar"
            class="action-button abort-button"
            (click)="onAbortButtonClicked($event)">
          X
        </button>

        <!-- TODO(cais): Add unit test. -->
        <div
            *ngIf="supportsAbbrevationExpansion && inputStringExceedsAbbreviationExpansionLimit"
            class="length-limit-exceeded">
          {{abbreviationExpansionLengthLimitExceededMessage}}
        </div>
      </div>
    </div>

    <div class="right-buttons-container">
      <button
          #clickableButton
          *ngIf="!hideSpeakButton"
          class="action-button speak-button">
        <app-speak-button-component
            [phrase]="effectivePhrase"
            (speakButtonClicked)="onSpeakAsIsButtonClicked($event)">
        </app-speak-button-component>
      </button>

      <button
          #clickableButton
          *ngIf="!isStudyOn"
          class="action-button inject-button"
          (click)="onInjectButtonClicked($event)">
        <img class="button-image" src="/assets/images/inject.png" alt="inject phrase" />
      </button>

      <button
          #clickableButton
          *ngIf="!isStudyOn"
          class="action-button favorite-button">
        <app-favorite-button-component
            [userId]="userId"
            [phrase]="effectivePhrase"
            [sendAsUserFeedback]="favoriteButtonSendsUserFeedback"
            [inputBarControlSubject]="inputBarControlSubject"
            [textEntryEndSubject]="textEntryEndSubject"
            [tags]="contextualPhraseTags"
            (favoritePhraseAdded)="onFavoritePhraseAdded($event)">
        </app-favorite-button-component>
      </button>
    </div>

  </div>

  <div
      *ngIf="studyUserTurnText !== null"
      class="hint-text">
    <span class="instruction">{{studyUserTurnInstr}}</span>
    <span class="to-enter-text">{{studyUserTurnText}}</span>
  </div>

  <div
      *ngIf="isStudyDialogComplete"
      class="hint-text hint-dialog-complete">
    <div
        *ngIf="studyDialogError"
        class="dialog-error">
      {{studyDialogError}}
    </div>
    <div *ngIf="!studyDialogError">Dialog is complete.</div>
  </div>

  <div
      *ngIf="hasNotification"
      class="notification">
    {{notification}}
  </div>

  <input-text-predictions-component
      *ngIf="showTextPredictionBar"
      [userId]="userId"
      [inputString]="inputString"
      [inputBarControlSubject]="inputBarControlSubject"
      [showExpandButton]="showExpandButton"
      [showSpellButton]="showSpellButton"
      [showAbortButton]="hasInputStringOrChips"
      (expandButtonClicked)="onExpandButtonClicked($event)"
      (spellButtonClicked)="onSpellButtonClicked($event)"
      (abortButtonClicked)="onAbortButtonClicked($event)">
  </input-text-predictions-component>

</div>
