<style>

:host {
    box-sizing: border-box;
    color: #EEE;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 32px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.abbreviation-input {
  border: 2px solid #888;
  border-radius: 3px;
  font-size: 32px;
  margin: 6px 8px;
  padding: 2px 4px;
}

.button-shortcut-key {
  font-size: 18px;
  color: #888;
}

.hidden {
  display: none;
}

.action-button {
  background: #333;
  border: 2px solid #888;
  border-radius: 5px;
  color: #eee;
  font-size: 20px;
  height: 45px;
  margin-left: 10px;
  margin-bottom: 6px;
  min-width: 150px;
  padding: 5px;
  vertical-align: middle;
  width: fit-content;
}

</style>

<input
    class="abbreviation-input"
    type="text"
    value="{{inputAbbreviation}}" />

<button
    #clickableButton
    *ngIf="inputAbbreviation.length > 0 && inputAbbreviation.indexOf(' ') === -1 && state === 'ENTERING_ABBREVIATION'"
    class="action-button"
    (click)="onExpandAbbreviationButtonClicked($event)">
  Expand
  <!-- <span class="button-shortcut-key">(Enter)</span> -->
</button>

<button
    #clickableButton
    *ngIf="inputAbbreviation.length > 0 && state === 'ENTERING_ABBREVIATION'"
    class="action-button"
    (click)="onSpellButtonClicked($event)">
  Spell
  <span class="button-shortcut-key">(Ctrl+s)</span>
</button>

<button
    #clickableButton
    *ngIf="inputAbbreviation.length > 0 && state === 'ENTERING_ABBREVIATION'"
    class="action-button"
    (click)="onEnterAsIsButtonClicked($event)">
  Enter as is
</button>

<app-spell-component
    [ngClass]="{'hidden': state !== 'SPELLING'}"
    [startSpellingSubject]="startSpellingSubject"
    (newAbbreviationSpec)="onNewAbbreviationSpec($event)"
></app-spell-component>
