<style>

:host {
  box-sizing: border-box;
  font-family: "Google Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
  background: #484747;
  border: 1px #eee solid;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  flex: 1;
  font-weight: bold;
  font-size: 30px;
  margin: 4px;
  width: 60px;
}

app-phrase-component {
  display: inline-block;
  margin: 2px 4px;
}

mat-progress-spinner {
  display: inline-block;
  stroke: #ddd;
  zoom: 0.3;
}

.button-image {
  height: 36px;
  width: 36px;
  vertical-align: middle;
}

.close-sub-tag-button {
  height: 60px;
  padding: 4px;
}

.edit-mode-button {
  height: 60px;
  padding: 4px;
}

.error {
  color: red;
  font-size: 22px;
  margin: 8px;
  text-align: center;
}

.main-container {
  display: flex;
  height: 304px;
  flex-direction: row;
}

.no-quick-phrases {
  color: #aaa;
  font-size: 22px;
  margin: 8px;
  text-align: center;
}

.phrases-and-scroller {
  display: flex;
  flex-direction: row;
}

.quick-phrases-container {
  max-height: 305px;
  overflow-y: hidden;
}

.retrieving-quick-phrases {
  color: #aaa;
  font-size: 22px;
  margin: 8px;
  text-align: center;
}

.sub-tag-name {
  font-weight: 800;
}

.sub-tag-section {
  margin-top: 12px;
  max-width: 80px;
}

.sub-tag-title {
  color: #eee;
  margin: 4px;
  width: 60px;
}

</style>

<div
    class="main-container">

  <div class="left-pane">
    <div
        *ngIf="hasSubTag && state !== 'EDITING_PHRASE'"
        class="sub-tag-section">
      <div class="sub-tag-title">
        Phrases for
        <span class="sub-tag-name">{{subTag}}</span>
      </div>

      <button
          #clickableButton
          class="close-sub-tag-button"
          (click)="onCloseSubTagButtonClicked($event)">
        <img
            class="button-image"
            src="/assets/images/back.png"
            alt="add to favorite" />
      </button>
    </div>

    <button
        #clickableButton
        *ngIf="allowsEditing"
        class="edit-mode-button"
        (click)="onEditModeButtonClicked($event)">
      <img
          class="button-image"
          src="{{getEditButtonImageSrc()}}"
          alt="add to favorite" />
    </button>
  </div>

  <div
      class="phrases-and-scroller"
      *ngIf="state !== 'EDITING_PHRASE'">
    <div
        #quickPhrasesContainer
        class="quick-phrases-container">

      <app-phrase-component
          *ngFor="let phrase of filteredPhrases; let i = index"
          #phraseOption
          class="item{{i + 1}}"
          [userId]="userId"
          [phraseId]="phrase.phraseId"
          [isEditing]="isChoosingPhraseToEdit"
          [scaleFontSize]="true"
          [phraseText]="phrase.text"
          [phraseDisplayText]="phrase.displayText"
          [phraseIndex]="i"
          [showFavoriteButton]="false"
          [showExpandButton]="showExpandButtons && !hasSubTag"
          [tags]="[effectiveAllowedTag]"
          [color]="color"
          (speakButtonClicked)="onSpeakOptionButtonClicked($event)"
          (injectButtonClicked)="onInjectionOptionButtonClicked($event)"
          (expandButtonClicked)="onExpandButtonClicked($event)"
          (editButtonClicked)="onPhraseEditButtonClicked($event)">
      </app-phrase-component>

      <div
          *ngIf="state === 'RETRIEVING_PHRASES'"
          class="retrieving-quick-phrases">
        <mat-progress-spinner
            [mode]="'indeterminate'"
            [value]="50">
        </mat-progress-spinner>
        Retrieving phrases...
      </div>

      <div
          *ngIf="state === 'RETRIEVED_PHRASES' && filteredPhrases.length === 0"
          class="no-quick-phrases">
          No quick phrases found
      </div>

      <div
          *ngIf="state === 'ERROR'"
          class="error">
        {{errorMessage}}
      </div>

    </div>

    <app-scroll-buttons-component
        [scrollTarget]="quickPhrasesContainer"
        [scrollStepPx]="SCROLL_STEP_PX"
        (scrollButtonClicked)="onScrollButtonClicked($event)">
    </app-scroll-buttons-component>
  </div>

  <div
      *ngIf="state === 'EDITING_PHRASE'">
    <app-phrase-editing-component
        [userId]="userId"
        [phraseId]="editedPhrase!.phraseId"
        [phraseText]="editedPhrase!.text"
        [phraseDisplayText]="editedPhrase!.displayText"
        [inputBarControlSubject]="inputBarControlSubject"
        (phraseSaved)="onPhraseSaved($event)"
    ></app-phrase-editing-component>
  </div>

</div>
