<style>

:host {
  box-sizing: border-box;
  font-family: "Google Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

app-phrase-component {
  display: inline-block;
  margin: 2px 4px;
}

mat-progress-spinner {
  display: inline-block;
  stroke: #ddd;
  zoom: 0.3;
}

.button-image {
  height: 36px;
  width: 36px;
}

.container {
  display: flex;
  flex-direction: row;
}

.error {
  color: red;
  font-size: 22px;
  margin: 8px;
  text-align: center;
}

.no-quick-phrases {
  color: #aaa;
  font-size: 22px;
  margin: 8px;
  text-align: center;
}

.quick-phrases-container {
  max-height: 305px;
  overflow-y: hidden;
}

.retrieving-quick-phrases {
  color: #aaa;
  font-size: 22px;
  margin: 8px;
  text-align: center;
}

.scroll-button {
  background: #484747;
  border: 1px #eee solid;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  flex: 1;
  font-weight: bold;
  font-size: 30px;
  margin: 4px;
  width: 60px;
}

.scroll-button-disabled {
  color: #888;
  font-weight: normal;
}

.scroll-buttons-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: fit-content;
}

</style>

<div class="container">
  <div
      #quickPhrasesContainer
      class="quick-phrases-container">

    <app-phrase-component
        *ngFor="let phrase of filteredPhrases; let i = index"
        #phraseOption
        class="item{{i + 1}}"
        [userId]="userId"
        [phraseId]="phrase.phraseId"
        [scaleFontSize]="true"
        [phraseText]="phrase.text"
        [phraseIndex]="i"
        [showFavoriteButton]="showDeleteButtons"
        [color]="color"
        (speakButtonClicked)="onSpeakOptionButtonClicked($event)"
        (injectButtonClicked)="onInjectionOptionButtonClicked($event)">
    </app-phrase-component>

    <div
        *ngIf="state === 'RETRIEVING_PHRASES'"
        class="retrieving-quick-phrases">
      <mat-progress-spinner
          [mode]="'indeterminate'"
          [value]="50">
      </mat-progress-spinner>
      Retrieving phrases...
    </div>

    <div
        *ngIf="state === 'RETRIEVED_PHRASES' && filteredPhrases.length === 0"
        class="no-quick-phrases">
        No quick phrases found
    </div>

    <div
        *ngIf="state === 'ERROR'"
        class="error">
      {{errorMessage}}
    </div>

  </div>

  <div
      class="scroll-buttons-container"
      *ngIf="checkPhraseOverflow()">
    <button
        #clickableButton
        class="scroll-button"
        (click)="onScrollButtonClicked($event, 'up')">
      <img
          *ngIf="!isScrollButtonDisabled('up')"
          class="button-image"
          src="/assets/images/arrow_up.png"
          alt="add to favorite" />
      <img
          *ngIf="isScrollButtonDisabled('up')"
          class="button-image"
          src="/assets/images/arrow_up_disabled.png"
          alt="add to favorite" />
    </button>
    <button
        #clickableButton
        class="scroll-button"
        (click)="onScrollButtonClicked($event, 'down')">
      <img
          *ngIf="!isScrollButtonDisabled('down')"
          class="button-image"
          src="/assets/images/arrow_down.png"
          alt="add to favorite" />
      <img
          *ngIf="isScrollButtonDisabled('down')"
          class="button-image"
          src="/assets/images/arrow_down_disabled.png"
          alt="add to favorite" />
    </button>
  </div>
</div>
